<% if @card.errors.any? %>
  <%= render "card_errors"%>
<% end %>
<% if current_user.decks.any? %>
  <%= render "form"%>
<% else %>
  <p><%= t('cards.no_deck.text') %> <%= link_to t('cards.no_deck.link'), new_deck_path %></p>
<% end %>






