<p><%= t('notifications_mailer.pending_cards.welcome', user: @user.email) %></p>
<p><%= t('notifications_mailer.pending_cards.text', count: @user.cards.count) %></p>
<p><%= link_to t('notifications_mailer.pending_cards.link'), root_url %></p>

